<div class="jw-modal">

  <div class="jw-modal-body">

    <div class="container">
      <div class="info">
        <h1>Register Submarine</h1>
      </div>
    </div>

    <div class="form">
      <form [formGroup]="newSubmarineForm">

        <div>
          <input type="text" id="name" formControlName="name" name="submarinename" placeholder="Submarine name.." class="feedback-input">
          <span *ngIf="!newSubmarineForm.get('name').valid && newSubmarineForm.get('name').touched" class="error-message">Invalid Name</span>
        </div>

        <div>
          <textarea id="description" formControlName="description">Some text...</textarea>
          <span *ngIf="!newSubmarineForm.get('description').valid && newSubmarineForm.get('description').touched" class="error-message">Invalid Description</span>
        </div>

        <button [disabled]="newSubmarineForm.status == 'INVALID'" (click)="onFormSubmit()">Register</button>
        <p *ngIf="errors.length" class="error-message">{{errors[0].message}}</p>

        <button (click)="onModalClose()" class="cancel">Cancel</button>
      </form>
    </div>

  </div>
</div>


<div class="jw-modal-background"></div>